<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-light" layout:fragment="nav">
		<div class="container">

			<!-- アプリロゴ -->
			<a class="navbar-brand" th:href="@{/contents}">
				<img src="/images/icons/logo2.png" th:src="@{/images/icons/logo2.png}" class="brand">
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<th:block sec:authorize="isAuthenticated()">

						<!-- ホームにリンク -->
						<li class="nav-item">
							<a class="btn w-55 btn-outline-light" th:href="@{/contents}">
								<img src="/images/icons/go_top.png" th:src="@{/images/icons/go_top.png}">
							</a>
						</li>

						<!-- 各コンテンツにリンク -->
						<li class="nav-item">
							<div class="dropdown">
								<a class="btn w-55 btn-outline-light dropdown-toggle" href="#" role="button"
									id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="/images/icons/learning" th:src="@{/images/icons/learning.png}">
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" th:href="@{/learning/list}"
											th:text="#{contents.learning}">言葉を広げる</a></li>
									<li><a class="dropdown-item" th:href="@{/calendar/events}"
											th:text="#{contents.event}">イベント共有</a></li>
									<li><a class="dropdown-item" th:href="@{/board}" th:text="#{contents.board}">掲示板</a></li>
								</ul>
							</div>
						</li>

						<!-- 各コンテンツお気に入りにリンク -->
						<li class="nav-item">
							<div class="dropdown">
								<a class="btn w-55 btn-outline-light dropdown-toggle" href="#" role="button"
									id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="/images/icons/heart_bar" th:src="@{/images/icons/heart_bar.png}">
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" th:href="@{/favorite_learning}"
											th:text="#{contents.learning}">言葉を広げる</a></li>
									<li><a class="dropdown-item" th:href="@{/favorite_event}"
											th:text="#{contents.event}">イベント共有</a></li>
								</ul>
							</div>
						</li>

						<!-- ユーザ設定にリンク -->
						<li class="nav-item">
							<a class="btn w-55 btn-outline-light" th:href="@{/user/edit}">
								<img src="/images/icons/setting.png" th:src="@{/images/icons/user2.png}">
							</a>
						</li>

						<!-- 使い方にリンク -->
						<li class="nav-item">
							<a class="btn w-55 btn-outline-light" th:href="@{/information/logging_in}" target="_blank">
								<img src="/images/icons/question.png" th:src="@{/images/icons/question.png}">
							</a>
						</li>

						<!-- 質問投稿にリンク -->
						<li class="nav-item">
							<a class="btn w-55 btn-outline-light" th:href="@{/contact/new}" target="_blank">
								<img src="/images/icons/ask.png" th:src="@{/images/icons/ask.png}">
							</a>
						</li>

						<!-- ログアウトにリンク -->
						<li class="nav-item">
							<a th:href="@{/logout}" class="nav-link convert" data-method="post"
								th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/logout.png" th:src="@{/images/icons/logout.png}">
							</a>
						</li>
					</th:block>

					<th:block sec:authorize="!isAuthenticated()">
						<!-- 使い方にリンク -->
						<li class="nav-item">
							<a class="btn w-55 btn-outline-light" th:href="@{/information/logging_out}" target="_blank">
								<img src="/images/icons/question.png" th:src="@{/images/icons/question.png}">
							</a>
						</li>
						
						<!-- 新規登録 -->
						<li class="nav-item">
							<a class="btn w-55 btn-outline-light" th:href="@{/users/new}">
								<img src="/images/icons/user.png" th:src="@{/images/icons/user.png}">
							</a>
						</li>

						<!-- ログイン　-->
						<li class="nav-item">
							<a class="btn w-55 btn-outline-light" th:href="@{/login}">
								<img src="/images/icons/login.png" th:src="@{/images/icons/login.png}">
							</a>
						</li>
					</th:block>
				</ul>
			</div>
		</div>
	</nav>
	<div id="messages" layout:fragment="messages" th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}" class="error-message" th:text="${error.message}" />
		</ul>
	</div>
</body>

</html>