<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Yen Nichi bulletin board</title>
</head>

<body>
	<div class="board-index-wrapper" layout:fragment="contents">
		<div class="container">

			<!-- 新規投稿ボタン -->
			<div class="col-md-9" align="right">
				<a class="btn w-55 btn-outline-light" href="/board/new">
					<img src="/images/icons/posting.png" th:src="@{/images/icons/posting.png}">
					<br>
					<h6 style="font-family: 'ＭＳ Ｐ明朝'" th:text="#{topics.new.title}">
						新規投稿
					</h6>
				</a>
			</div>

			<div class="row" th:each="board : ${list}">
				<div class="col-md-6 mx-auto">
					<main>
						<h5 class="author" th:text="${board.user.name}"></h5>
						<h4 class="title" th:text="${board.title}"></h4>
						<pre class="description" th:text="${board.description}"></pre>

						<!-- リアクション部分 -->
						<div class="icons">
							<!-- goods -->
							<a th:if="${board.good.userId != null}" rel="nofollow" class="icon convert"
								data-method="delete" href="/good_board?event_id=1" th:href="@{'/good_board'}"
								th:data-board_id="${board.id}" th:data-_csrf="${_csrf.token}">
								<img class="good-on" src="/images/icons/good_white.png"
									th:src="@{/images/icons/good_white.png}" />
							</a>
							<a th:if="${board.good.userId == null}" rel="nofollow" class="icon convert"
								data-method="post" href="/good_board?board_id=1" th:href="@{'/good_board'}"
								th:data-board_id="${board.id}" th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/good_black.png" th:src="@{/images/icons/good_black.png}" />
							</a>

							<span>&nbsp;</span>

							<span class="count" th:text="${#lists.size(board.goodList)}">0</span>

							<!-- comments -->
							<a href="/board/1/comments/board"
								th:href="@{'/board/{id}/comments_board/new'(id=${board.id})}" class="icon"
								th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/comment.png" th:src="@{/images/icons/comment.png}" />
							</a>

							<span>&nbsp;</span>

							<span class="count" th:text="${#lists.size(board.getValidComments())}">0</span>


							<!-- スペースを挿入 -->
							<span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
							<!-- ここでログインユーザーのIDを取得 -->
							<div th:if="${userId == board.getUser().getId()}">
								<!-- edit -->
								<a class="btn w-20 btn-outline-success btn-sm mb-1"
									th:href="@{'/board/edit'(board_id=${board.id})}" th:data-board_id="${board.id}" th:text="#{topics.edit.title}">編集
								</a>

								<!-- スペースを挿入 -->
								<span>&nbsp;</span>
								<!-- delete -->
								<a class="btn w-20 btn-outline-danger btn-sm mb-1"
									th:href="@{'/board/delete'(board_id=${board.id})}" th:data-board_id="${board.id}" th:text="#{topics.delete.submit}">削除
								</a>
							</div>
						</div>

						<br><br>

						<!-- コメント表示 -->
						<div class="comments">
							<div th:if="${#lists.size(board.getValidComments())}" !=null>
								<h4 class="text-center" th:text="#{topics.index.comment}">コメント</h4>
							</div>

							<div th:each="comment : ${board.getValidComments()}">
								<div class="comment">
									<h5 class="author" th:text="${comment.user.name}"></h5>
									<pre class="description" th:text="${comment.description}"></pre>

									<div class="icons">
										<span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>

										<a th:if="${comment.goodComment.userId != null}" rel="nofollow"
											class="icon convert" data-method="delete" href="/good?comment_board_id=1"
											th:href="@{'/good_comment_board'}" th:data-comment_board_id="${comment.id}"
											th:data-_csrf="${_csrf.token}">
											<img class="good-on" src="/images/icons/good_white.png"
												th:src="@{/images/icons/good_white.png}" />
										</a>
										<span>&nbsp;</span>
										<a th:if="${comment.goodComment.userId == null}" rel="nofollow"
											class="icon convert" data-method="post" href="/good?comment_board_id=1"
											th:href="@{'/good_comment_board'}" th:data-comment_board_id="${comment.id}"
											th:data-_csrf="${_csrf.token}">
											<img src="/images/icons/good_black.png"
												th:src="@{/images/icons/good_black.png}" />
										</a>

										<span class="count" th:text="${#lists.size(comment.goodCommentList)}">0</span>

										<span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>

										<div th:if="${userId == comment.getUser().getId()}">
											<a class="btn w-20 btn-outline-success btn-sm mb-1"
												th:href="@{'/comment_board/edit' (comment_board_id=${comment.id})}"
												th:data-comment_board_id="${comment.id}" th:text="#{comments.edit.title}">編集
											</a>

											<span>&nbsp;</span>

											<a class="btn w-20 btn-outline-danger btn-sm mb-1"
												th:href="@{'/comment_board/delete'(comment_board_id=${comment.id})}"
												th:data-comment_board_id="${comment.id}" th:text="#{comments.delete.submit}">削除
											</a>
										</div>
									</div>
									<br>
								</div>
							</div>
					</main>
				</div>
			</div>
		</div>
	</div>
</body>

</html>