<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Yen Nichi bulletin board</title>
</head>

<body>
	<div class="board-index-wrapper" layout:fragment="contents">
		<div class="container">

			<!-- 新規投稿ボタン -->
			<div class="col-md-9" align="right">
				<a class="btn w-55 btn-outline-light" href="/board/new">
					<img src="/images/icons/posting.png" th:src="@{/images/icons/posting.png}">
					<br>
					<h6 class="text-color" style="font-family: 'ＭＳ Ｐ明朝'; color: #164a84">
						新規投稿
					</h6>
				</a>
			</div>

			<div class="row" th:each="board : ${list}">
				<div class="col-md-6 mx-auto">
					<main>
						<h5 class="author" th:text="${board.user.name}"></h5>
						<h3 class="title" th:text="${board.title}"></h3>
						<pre class="description" th:text="${board.description}"></pre>

						<!-- リアクション部分 -->
						<div class="icons">
							<!-- goods -->
							<a th:if="${board.good != null}" rel="nofollow" class="icon convert" data-method="delete"
								href="/good_board?event_id=1" th:href="@{'/good_board'}" th:data-board_id="${board.id}"
								th:data-_csrf="${_csrf.token}">
								<img class="good-on" src="/images/icons/good_white.png"
									th:src="@{/images/icons/good_white.png}" />
							</a>
							<a th:if="${board.good == null}" rel="nofollow" class="icon convert" data-method="post"
								href="/good_board?board_id=1" th:href="@{'/good_board'}" th:data-board_id="${board.id}"
								th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/good_black.png" th:src="@{/images/icons/good_black.png}" />
							</a>
							<span class="count" th:text="${#lists.size(board.goods)}">0</span>
							
							<!-- comments -->
							<a href="/board/1/comments/board"
								th:href="@{'/board/{id}/comments_board/new'(id=${board.id})}" class="icon"
								th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/comment.png" th:src="@{/images/icons/comment.png}" />
							</a>
							<span class="count" th:text="${#lists.size(board.comments)}">0</span>
						</div>
						
						<!-- コメント表示 -->
						<div class="comments">
							<h4 class="text-center">コメント</h4>
							<ul th:each="comment : ${board.comments}">
								<h4 class="author" th:text="${comment.user.name}"></h4>
								<pre class="description" th:text="${comment.description}"></pre>
							</ul>
						</div>
					</main>
				</div>
			</div>
		</div>
	</div>
</body>

</html>