<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>YenNichi learning</title>
</head>

<body>
	<div class="topics-index-wrapper" layout:fragment="contents">
		<div class="container">

			<!-- 新規投稿ボタン -->
			<div class="col-md-9" align="right">
				<a class="btn w-55 btn-outline-light" href="/learning/new">
					<img src="/images/icons/posting.png" th:src="@{/images/icons/posting.png}">
					<br>
					<h6 class="text-color" style="font-family: 'ＭＳ Ｐ明朝'; color: #164a84">
						新規投稿
					</h6>
				</a>
			</div>

			<!-- 学習部分 -->
			<div class="row" th:each="learning : ${list}">
				<div class="col-md-6 mx-auto">

					<!-- 内容表示部分 -->
					<main>
						<h2 class="author" th:text="${learning.user.name}"></h2>
						<img src="" th:if="${@environment.getProperty('image.local')}" th:src="${learning.imageData}"
							class="image" />
						<h3 class="title" th:text="${learning.title}"></h3>
						<pre class="description" th:text="${learning.description}"></pre>
						<!-- リアクション部分 -->
						<div class="icons">
							<!-- goods -->
							<a th:if="${learning.good != null}" rel="nofollow" class="icon convert" data-method="delete"
								href="/favorite?learning_id=1" th:href="@{'/good'}" th:data-learning_id="${learning.id}"
								th:data-_csrf="${_csrf.token}">
								<img class="good-on" src="/images/icons/good_white.png"
									th:src="@{/images/icons/good_white.png}" />
							</a>
							<a th:if="${learning.good == null}" rel="nofollow" class="icon convert" data-method="post"
								href="/favorite?learning_id=1" th:href="@{'/good'}" th:data-learning_id="${learning.id}"
								th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/good_black.png" th:src="@{/images/icons/good_black.png}" />
							</a>
							<span class="count" th:text="${#lists.size(learning.goods)}">0</span>

							<!-- favorites -->
							<a th:if="${learning.favorite != null}" rel="nofollow" class="icon convert"
								data-method="delete" href="/favorite?learning_id=1" th:href="@{'/favorite'}"
								th:data-learning_id="${learning.id}" th:data-_csrf="${_csrf.token}">
								<img class="favorite-on" src="/images/icons/heart.png"
									th:src="@{/images/icons/heart.png}" />
							</a>
							<a th:if="${learning.favorite == null}" rel="nofollow" class="icon convert"
								data-method="post" href="/favorite?learning_id=1" th:href="@{'/favorite'}"
								th:data-learning_id="${learning.id}" th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/heart-black.png" th:src="@{/images/icons/heart-black.png}" />
							</a>
							<span class="count" th:text="${#lists.size(learning.favorites)}">0</span>

							<!-- comments -->
							<a href="/learning/1/comments_learning/new"
								th:href="@{'/learning/{id}/comments_learning/new'(id=${learning.id})}" class="icon"
								th:data-_csrf="${_csrf.token}">
								<img src="/images/icons/comment.png" th:src="@{/images/icons/comment.png}" />
							</a>
							<span class="count" th:text="${#lists.size(learning.comments)}">0</span>
						</div>

						<br>

						<!-- コメント表示 -->
						<div class="comments">
							<h4 class="text-center">コメント</h4>
							<ul th:each="comment : ${learning.comments}">
								<h4 class="author" th:text="${comment.user.name}"></h4>
								<pre class="description" th:text="${comment.description}"></pre>
							</ul>
						</div>

					</main>
				</div>
			</div>
		</div>
	</div>
</body>

</html>