<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Yen Nichi</title>
	<script th:src="@{/scripts/message.js}" defer></script>
</head>

<body>
	<div class="contents-index-wrapper text-center" layout:fragment="contents">
		<div class="container">
			<br>
			<h3 class="text-color" style="font-family: 'ＭＳ Ｐ明朝'; color: #e83929">
				<!-- 時間に合わせたメッセージの表示 -->
				<div id="message1"></div>
			</h3>

			<h4 class="text-color" style="font-family: 'ＭＳ Ｐ明朝'; color: #e83929">
				<!-- 時間に合わせたメッセージの表示 -->
				<div id="message2"></div>
			</h4>

			<a class="btn w-55 btn-outline-light" href="/learning">
				<img src="/images/icons/go_top.png" th:src="@{/images/icons/learning.png}">
				<h4 class="text-color" style="font-family: 'ＭＳ Ｐ明朝'; color: #223a70">言葉を広げる</h4>
			</a>
			
			<a class="btn w-55 btn-outline-light" href="/calendar">
				<img src="/images/icons/go_top.png" th:src="@{/images/icons/calendar.png}">
				<h4 class="text-color" style="font-family: 'ＭＳ Ｐ明朝'; color: #223a70;">イベントの共有</h4>
			</a>

			<a class="btn w-55 btn-outline-light" href="/board">
				<img src="/images/icons/go_top.png" th:src="@{/images/icons/board.png}">
				<h4 class="text-color" style="font-family: 'ＭＳ Ｐ明朝'; color: #223a70;">掲示板</h4>
			</a>

			

		</div>
		<br><br><br>
</body>

</html>