h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

.p-form-top {
  height: 120px; }

.form-control, form-control-file {
  height: 45px; }

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  height: 60px; }

#messages ul {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 4px;
  color: #203744; }
  #messages ul li {
    list-style: none;
    padding: 4px 8px;
    font-size: 22px; }

.error-message {
  color: #c9171e; }

.error-field {
  background-color: rgba(255, 192, 203, 0.5); }

nav.navbar {
  background-color: rgba(253, 239, 242, 0.5);
  border: 1px solid transparent;
  border-color: #19448e;
  border-width: 0 0 1px;
  margin-bottom: 0px;
  padding: 0; }
  nav.navbar a {
    color: #19448e; }
  nav.navbar img {
    height: 60px; }

.pages-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/Asakusa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a0d8ef; }
  .pages-index-wrapper .container {
    padding-top: 80px; }
    .pages-index-wrapper .container h1 {
      font-size: 56px;
      margin-bottom: 20px; }
    .pages-index-wrapper .container h2 {
      margin-bottom: 60px; }

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/TokyoSkiTree.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a0d8ef; }
  .users-new-wrapper main {
    padding-top: 80px; }

.contents-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/cherryblossom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: calc(100vh - 180px);
  overflow: hidden;
  background-color: #fef4f4; }
  .contents-index-wrapper .container {
    padding-top: 80px; }
    .contents-index-wrapper .container h3 {
      font-size: 36px;
      margin-bottom: 10px; }
    .contents-index-wrapper .container h4 {
      margin-bottom: 30px; }

.topics-new-wrapper {
  padding-top: 80px;
  background-image: url("/images/maple.png");
  background-color: #fafafa; }
  .topics-new-wrapper #description {
    height: 80px; }

.topics-index-wrapper {
  padding: 80px 0 20px;
  background-image: url("/images/maple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fafafa;
  min-height: calc(100vh - 180px);
  overflow: hidden; }
  .topics-index-wrapper main {
    background-color: #FAFFF5;
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 6px; }
    .topics-index-wrapper main .author {
      margin: 10px;
      padding: 0 20px; }
    .topics-index-wrapper main .image {
      margin: 10px 0;
      width: 100%; }
    .topics-index-wrapper main .icons {
      display: flex;
      flex-direction: row; }
      .topics-index-wrapper main .icons .icon {
        display: block;
        width: 35px;
        height: 30px;
        margin-left: 20px; }
        .topics-index-wrapper main .icons .icon img {
          width: 35px;
          height: 30px; }
        .topics-index-wrapper main .icons .icon .good-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: invert(59%) sepia(64%) saturate(1989%) hue-rotate(167deg) brightness(95%) contrast(86%); }
        .topics-index-wrapper main .icons .icon .favorite-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); }
      .topics-index-wrapper main .icons .count {
        display: flex;
        width: 10px;
        height: 30px;
        align-items: flex-end; }
    .topics-index-wrapper main .title {
      padding: 10px 20px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: #FAFFF5;
      border: none; }
    .topics-index-wrapper main .description {
      padding: 10px 30px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: #FAFFF5;
      border: none; }
    .topics-index-wrapper main .comments ul li {
      list-style: none; }

.events-new-wrapper {
  padding-top: 80px;
  background-image: url("/images/KiyomizuTemple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a0d8ef; }
  .events-new-wrapper #description {
    height: 80px; }

.events-index-wrapper {
  padding: 80px 0 20px;
  background-image: url("/images/KiyomizuTemple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a0d8ef;
  min-height: calc(100vh - 180px);
  overflow: hidden; }
  .events-index-wrapper main {
    background-color: #FAFFF5;
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 6px; }
    .events-index-wrapper main .author {
      margin: 10px;
      padding: 0 20px; }
    .events-index-wrapper main .image {
      margin: 10px 0;
      width: 100%; }
    .events-index-wrapper main .icons {
      display: flex;
      flex-direction: row; }
      .events-index-wrapper main .icons .icon {
        display: block;
        width: 35px;
        height: 30px;
        margin-left: 20px; }
        .events-index-wrapper main .icons .icon img {
          width: 35px;
          height: 30px; }
        .events-index-wrapper main .icons .icon .good-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: invert(59%) sepia(64%) saturate(1989%) hue-rotate(167deg) brightness(95%) contrast(86%); }
        .events-index-wrapper main .icons .icon .favorite-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); }
      .events-index-wrapper main .icons .count {
        display: flex;
        width: 10px;
        height: 30px;
        align-items: flex-end; }
    .events-index-wrapper main .title {
      padding: 10px 20px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: #FAFFF5;
      border: none; }
    .events-index-wrapper main .description {
      padding: 10px 30px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: #FAFFF5;
      border: none; }
    .events-index-wrapper main .comments ul li {
      list-style: none; }

.fc-direction-ltr {
  padding-top: 40px; }

#calendar {
  color: #9E202E;
  text-decoration: none;
  background-color: rgba(245, 245, 255, 0.3);
  max-width: 1100px;
  margin: 40px auto; }

#calendar a {
  color: #1e50a2;
  font-size: 20px;
  text-decoration: none; }

#calendar-back {
  background-image: url("/images/KiyomizuTemple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a0d8ef;
  padding-top: 90px;
  padding-bottom: 30px; }

.board-index-wrapper {
  padding: 80px 0 20px;
  background-image: url("/images/Bomboo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fafafa;
  min-height: calc(100vh - 180px);
  overflow: hidden; }
  .board-index-wrapper main {
    background-color: rgba(240, 245, 230, 0.6);
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid rgba(240, 245, 230, 0.6);
    border-radius: 6px; }
    .board-index-wrapper main .author {
      margin: 10px;
      padding: 0 20px; }
    .board-index-wrapper main .icons {
      display: flex;
      flex-direction: row; }
      .board-index-wrapper main .icons .icon {
        display: block;
        width: 35px;
        height: 30px;
        margin-left: 20px; }
        .board-index-wrapper main .icons .icon img {
          width: 35px;
          height: 30px; }
        .board-index-wrapper main .icons .icon .good-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: invert(59%) sepia(64%) saturate(1989%) hue-rotate(167deg) brightness(95%) contrast(86%); }
      .board-index-wrapper main .icons .count {
        display: flex;
        width: 10px;
        height: 30px;
        align-items: flex-end; }
    .board-index-wrapper main .author {
      padding: 10px 30px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      border: none; }
    .board-index-wrapper main .title {
      padding: 5px 20px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      border: none; }
    .board-index-wrapper main .description {
      padding: 5px 40px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      border: none; }
    .board-index-wrapper main .comments ul li {
      list-style: none; }

.board-new-wrapper {
  padding-top: 80px;
  background-image: url("/images/Bomboo.png");
  background-color: #fafafa; }
  .board-new-wrapper #description {
    height: 80px; }

/*# sourceMappingURL=style.css.map */
