<!DOCTYPE html>
<html>

<head>
	<title>Yen Nichi contacts</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- style.scssを読み込む -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body style="background:#fbfaf5">
	<br>
					<h1 style="color:#1e50a2">
						<center>メールを送信しました</center>
					</h1>
					<br>
					<center>
						<input type="button" style="background:#006e54; color: #fffffc" onclick="CloseWindow();" value="[X] 閉じる">
					</center>
					<br>
					<br>
	<script>
		// JavaScript関数: ウィンドウを閉じる
		function CloseWindow() {
			// 現在のウィンドウを閉じる
			window.close();
		}
	</script>
</body>

</html>